# Mengabaikan file sampah sisa editor nano/linux
*.save
*.bak_*
*~
.directory

# Mengabaikan folder unggahan berkas/tanda tangan agar tidak bentrok
/uploads/
/uploads/tanda_tangan/

# Mengabaikan file konfigurasi lokal jika ada
config/koneksi.php.local